@use '../../../styles/variables' as *;

.button {
  height: $field-height;
  border-radius: $button-radius;
  padding: 0 24px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.buttonCancel {
  border: 1px solid $border;
  background-color: $background;

  &:hover {
    background-color: $surface-hover;
  }
}

.buttonAdd {
  background-color: $green-primary;

  &:not(.disabled):hover {
    background-color: $green-hover;
  }
}

.buttonTransparent {
  &:not(.disabled):hover {
    background-color: $surface-hover;
  }
}
