@use '../../styles/variables' as *;

.sidebar {
  background-color: $surface-sidebar;
  border-right: 1px solid $text-secondary;
  padding: 40px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
