@layer theme;

@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);

@theme {
  --color-bg-main: #2e2e2e;
  --color-bg-sidebar: #1e1e1e;
  --color-bg-toolbar: #1e1e1e;
  --color-green-main: #3a8f5b;
  --color-green-hover: #15803d;
  --color-grey-hover: #404040;
  --color-border: #404040;
  --color-section-border: #a3a3a3;
  --color-text-main: #e5e5e5;

  --radius-modal: 15px;
  --radius-field: 6px;
}
