@use '../../styles/variables.scss' as *;

.input {
  height: $field-height;
  border: 1px solid $border;

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border: 1px solid $green-primary;
  }

  &:hover {
    border: 1px solid $green-primary;
  }
}
