@use '../../styles/variables.scss' as *;

.card {
  width: $card-width;
  height: $card-height;
  background-color: #282828;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardHeader {
  border-bottom: 1px solid $border;
}

.cardWebsite {
  color: $green-primary;
}

.cardCredentials {
  background-color: $background;
  border: 1px solid $border;
}

.cardDivider {
  height: 1px;
  background-color: $border;
}
