@use '../../../styles/variables' as *;

.modalOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  color: $text-primary;
  border-radius: $border-radius;
  background-color: $surface-sidebar;
  width: 400px;
  min-height: 400px;

  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.6);
}
