@use '../../../styles/variables' as *;

.inputContainer {
  height: $field-height;
  display: flex;
  align-items: center;
  border: 1px solid $border;
  border-radius: $button-radius;
  cursor: pointer;
  padding: 0 12px;

  input {
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  &:focus-within,
  &:hover {
    border: 1px solid $green-primary;
  }
}
